ekf_filter_node:
  ros__parameters:

    frequency: 100.0
    sensor_timeout: 0.1
    two_d_mode: true   # 小车！非常重要

    publish_tf: true
    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    # ========================
    # 1. SLAM 里程计输入
    # ========================
    odom0: /slam3/odom
    odom0_config: [
      true,  true,  false,   # x, y, z
      false, false, true,    # roll, pitch, yaw
      false, false, false,   # vx, vy, vz
      false, false, false    # vroll, vpitch, vyaw
    ]

    odom0_queue_size: 10
    odom0_nodelay: true
    odom0_differential: false
    odom0_relative: false

    # ========================
    # 2. IMU 输入
    # ========================
    imu0: /imu/data_raw
    imu0_config: [
      false, false, false,   # x, y, z
      false, false, true,    # roll, pitch, yaw
      true,  true,  false,   # vx, vy, vz
      false, false, true    # vroll, vpitch, vyaw
    ]

    imu0_differential: false
    imu0_relative: false
    imu0_queue_size: 50
    imu0_remove_gravitational_acceleration: true

    # ========================
    # 3. 初始协方差（关键）
    # ========================
    initial_estimate_covariance:
      [1e-9, 0,    0,    0,    0,    0,
       0,    1e-9, 0,    0,    0,    0,
       0,    0,    1e6,  0,    0,    0,
       0,    0,    0,    1e6,  0,    0,
       0,    0,    0,    0,    1e6,  0,
       0,    0,    0,    0,    0,    1e-9]
