# BT Navigator (指挥官)
# 一句话： 它是导航的**“逻辑大脑”**。
# 功能： 不算路径，不发速度，只拿“行为树说明书”指挥 Planner 规划、Controller 走车、Recovery 救灾。
# 算法： 行为树（BT），决定了“失败了怎么办”的逻辑。
bt_navigator:
  ros__parameters:
    global_frame: map
    # robot_base_frame: base_link
    robot_base_frame: base_footprint

    odom_topic: /ekf/odom

    bt_loop_duration: 10
    filter_duration: 0.5
    default_server_timeout: 20
    wait_for_service_timeout: 1000
    introspection_mode: "contents"
    default_nav_to_pose_bt_xml: "/opt/ros/jazzy/share/nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_and_recovery.xml"
    # default_nav_to_pose_bt_xml: "/opt/ros/jazzy/share/nav2_bt_navigator/behavior_trees/navigate_w_replanning_only_if_goal_is_updated.xml"

    navigators: ["navigate_to_pose", "navigate_through_poses"]

    navigate_to_pose:
      plugin: "nav2_bt_navigator::NavigateToPoseNavigator"

    navigate_through_poses:
      plugin: "nav2_bt_navigator::NavigateThroughPosesNavigator"
      


# Controller Server (驾驶员)
# 一句话： 它是实际**“踩油门和打方向”**的。
# 算法： 你的配置是 MPPI（预测数千条路径并选最好的）。
# 功能： 实时避障并死死贴住全局路径，每秒给电机发 20 次指令（cmd_vel）。
controller_server:
  ros__parameters:
    controller_frequency: 20.0 
    costmap_update_timeout: 0.30
    min_x_velocity_threshold: 0.001
    min_y_velocity_threshold: 0.001
    min_theta_velocity_threshold: 0.001
    failure_tolerance: 0.3
    progress_checker_plugins: ["progress_checker"]
    goal_checker_plugins: ["general_goal_checker"]
    controller_plugins: ["FollowPath"]
    use_realtime_priority: false

    progress_checker:
      plugin: "nav2_controller::SimpleProgressChecker"
      required_movement_radius: 0.5
      movement_time_allowance: 10.0
      
    general_goal_checker:
      stateful: True
      plugin: "nav2_controller::SimpleGoalChecker"
      xy_goal_tolerance: 0.25
      yaw_goal_tolerance: 0.25
      
    FollowPath:
      plugin: "nav2_mppi_controller::MPPIController"
      time_steps: 56
      model_dt: 0.05  # 匹配20Hz控制频率 (1/20 = 0.05)
      batch_size: 2000
      ax_max: 3.0
      ax_min: -3.0
      ay_max: 3.0
      az_max: 3.5
      vx_std: 0.2
      vy_std: 0.0
      wz_std: 0.2
      vx_max: 0.5
      vx_min: -0.35
      vy_max: 0.0
      wz_max: 0.8
      iteration_count: 1
      prune_distance: 1.7
      transform_tolerance: 0.5  # 增加变换容错性
      temperature: 0.3
      gamma: 0.015
      motion_model: "Ackermann"
      visualize: true
      regenerate_noises: true
      
      AckermannConstraints:
        min_turning_r: 0.4
        
      TrajectoryVisualizer:
        trajectory_step: 5
        time_step: 3
        
      critics: [
        "ConstraintCritic", "CostCritic", "GoalCritic",
        "GoalAngleCritic", "PathAlignCritic", "PathFollowCritic",
        "PathAngleCritic", "PreferForwardCritic"
      ]
      
      ConstraintCritic:
        enabled: true
        cost_power: 1
        cost_weight: 4.0
        
      GoalCritic:
        enabled: true
        cost_power: 1
        cost_weight: 5.0
        threshold_to_consider: 1.4
        
      GoalAngleCritic:
        enabled: true
        cost_power: 1
        cost_weight: 3.0
        threshold_to_consider: 0.5
        
      PreferForwardCritic:
        enabled: true
        cost_power: 1
        cost_weight: 1.0
        threshold_to_consider: 0.8
        
      CostCritic:
        enabled: true
        cost_power: 1
        cost_weight: 3.81
        near_collision_cost: 253
        critical_cost: 300.0
        consider_footprint: true
        collision_cost: 1000000.0
        near_goal_distance: 1.0
        trajectory_point_step: 2
        
      PathAlignCritic:
        enabled: true
        cost_power: 1
        cost_weight: 14.0
        max_path_occupancy_ratio: 0.05
        trajectory_point_step: 4
        threshold_to_consider: 0.5
        offset_from_furthest: 20
        use_path_orientations: false
        
      PathFollowCritic:
        enabled: true
        cost_power: 1
        cost_weight: 5.0
        offset_from_furthest: 5
        threshold_to_consider: 1.4
        
      PathAngleCritic:
        enabled: true
        cost_power: 1
        cost_weight: 2.0
        offset_from_furthest: 4
        threshold_to_consider: 0.5
        max_angle_to_furthest: 1.0
        mode: 0

local_costmap:
  local_costmap:
    ros__parameters:
      # 机器人物理轮廓：[x, y] 坐标点序列，用于精确碰撞检测
      footprint: "[[0.105, 0.045],[0.105,-0.045],[-0.105,-0.045],[-0.105, 0.045]]"
      
      update_frequency: 25.0    # 代价地图更新频率（Hz），频率越高避障越灵敏
      publish_frequency: 2.0   # 向 RViz 等工具发布可视化地图的频率
      global_frame: odom       # 局部地图参考系：必须用 odom 以保证局部运动的平滑性
      robot_base_frame: base_footprint
      transform_tolerance: 1.5
      rolling_window: true     # 窗口随机器人移动：地图永远以机器人为中心
      width: 5                # 局部窗口宽度（米）
      height: 5               # 局部窗口高度（米）
      resolution: 0.05         # 栅格分辨率（5厘米/格）
      track_unknown_space: false # If false, treats unknown space as free space, else as unknown space.
      unknown_cost_value: 255 

      # 插件配置：决定了地图由哪些层叠加而成
      plugins: ["obstacle_layer", "inflation_layer"]

      # --- 膨胀层：为障碍物边缘增加缓冲区，防止机器人“擦边” ---
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        enabled: true
        cost_scaling_factor: 12.0    # 成本衰减因子：值越小，障碍物周围的高成本区扩散越远
        inflation_radius: 0.15      # 膨胀半径：机器人中心距离障碍物在此范围内会有避障成本
        inflate_unknown: false
        inflate_around_unknown: false

      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        enabled: true
        observation_sources: scan
        scan:
          # topic: /seg/scan/local          # 接收 YOLO-Seg 过滤后的激光数据（只看想避开的物体）
          topic: /seg/scan
          sensor_frame: base_footprint
          inf_is_valid: true
          max_obstacle_height: 0.3
          clearing: true            # 如果射线通过，则清除该区域的旧障碍物信息
          marking: true             # 如果射线上有击中点，则标记障碍物
          data_type: "LaserScan"
          raytrace_max_range: 4.5   # 激光清理的最大范围
          obstacle_max_range: 3.0   # 激光标记障碍物的最大范围
          observation_persistence: 0.0 # 观测数据的持久化时间（秒），有助于处理闪烁的障碍物
          expected_update_rate: 1.0

      always_send_full_costmap: true
      introspection_mode: "disabled"

# global_costmap 是机器人的全局上帝视角。 它以静态地图为底色，叠加实时雷达数据（obstacle_layer）和人工规则（keepout/speed filter），
# 最终通过膨胀算法生成一张让规划器“看清全局风险”的代价网格。
global_costmap:
  global_costmap:
    ros__parameters:
      footprint: "[[0.105, 0.045],[0.105,-0.045],[-0.105,-0.045],[-0.105, 0.045]]"
      
      # 地图尺寸：如果 rolling_window 为 false，系统会自动根据 static_layer 加载的大小调整
      width: 1000
      height: 1000
      # origin_x: -20.0
      # origin_y: -20.0
      
      rolling_window: false     # 全局地图是静止不动的
      update_frequency: 10.0
      publish_frequency: 2.0
      global_frame: map         # 全局参考系：必须用 map，与 RTAB-Map 发布的坐标系一致
      # robot_base_frame: base_link
      robot_base_frame: base_footprint

      resolution: 0.05
      track_unknown_space: false # If false, treats unknown space as free space, else as unknown space.
      unknown_cost_value: 255 

      # 插件配置：静态地图层 + 膨胀层
      # plugins: ["static_layer"]
      plugins: ["static_layer", "inflation_layer","obstacle_layer"]
      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        enabled: true
        observation_sources: rtabmap_obstacles
        scan:
          # topic: /seg/scan/local          # 接收 YOLO-Seg 过滤后的激光数据（只看想避开的物体）
          topic: /seg/scan
          sensor_frame: base_footprint
          inf_is_valid: true
          max_obstacle_height: 1.2
          clearing: true            # 如果射线通过，则清除该区域的旧障碍物信息
          marking: true             # 如果射线上有击中点，则标记障碍物
          data_type: "LaserScan"
          raytrace_max_range: 4.5   # 激光清理的最大范围
          obstacle_max_range: 3.0   # 激光标记障碍物的最大范围
          observation_persistence: 0.0 # 观测数据的持久化时间（秒），有助于处理闪烁的障碍物

      # --- 静态层：直接从 RTAB-Map 或 Map_server 接收 /map 话题 ---
      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        map_subscribe_transient_local: true # 确保能够接收到 late-joiner 类型的地图消息
        enabled: true
        subscribe_to_updates: true
        map_topic: /map

      # --- 膨胀层：全局规划需要更大的余量，确保生成的路径远离墙壁 ---
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        enabled: true
        cost_scaling_factor: 12.0
        inflation_radius: 0.12
        inflate_unknown: false
        inflate_around_unknown: false

      always_send_full_costmap: true # 每次都发送完整地图而非增量，虽然耗带宽但更稳定

# Planner Server (全局规划器):
# 核心功能：使用 NavfnPlanner 算法（Dijkstra），在全局地图上搜索一条从起点到终点的连通路径。
# 总结：它是**“寻路者”**，负责算出宏观上哪条路能通。
planner_server:
  ros__parameters:
    allow_partial_planning: true
    expected_planner_frequency: 2.0
    planner_plugins: ["GridBased"]
    costmap_update_timeout: 2.0
    introspection_mode: "contents"
    GridBased:
      plugin: "nav2_navfn_planner::NavfnPlanner"
      tolerance: 0.6
      use_astar: true #开启A* 快且稳定
      allow_unknown: true

# Collision Monitor (碰撞监测器):
# 核心功能：直接监听雷达数据，如果检测到障碍物即将进入机器人足迹（Footprint），立即跳过导航逻辑强制刹车。
# 总结：它是**“主动刹车”**。作为最后的防撞屏障，它比代价地图响应更快、权限更高。
collision_monitor:
  ros__parameters:
    enabled: true
    base_frame_id: "base_footprint"
    odom_frame_id: "odom"
    cmd_vel_in_topic: "cmd_vel_smoothed"
    cmd_vel_out_topic: "cmd_vel"
    state_topic: "collision_monitor_state"
    transform_tolerance: 1.5
    source_timeout: 5.0
    base_shift_correction: false
    stop_pub_timeout: 2.0
    # Polygons represent zone around the robot for "stop", "slowdown" and "limit" action types,
    # and robot footprint for "approach" action type.
    polygons: ["FootprintApproach"]
    FootprintApproach:
      type: "polygon"
      action_type: "approach"
      footprint_topic: "local_costmap/published_footprint"
      time_before_collision: 0.5
      simulation_time_step: 0.1
      min_points: 12
      visualize: false
      enabled: true
    observation_sources: ["scan"]
    scan:
      type: "scan"
      topic: "/seg/scan" # ← YOLO-Seg 输出
      min_height: 0.0
      max_height: 2.0
      source_timeout: 1.0
      enabled: true

# Behavior Server (行为服务器):
# 核心功能：提供一系列**“自救动作”**（如原地旋转 spin、后退 backup、原地等待 wait）。
# 总结：它是**“应急预案”**。当机器人卡住或迷路时，由它执行预设的补救动作。
behavior_server:
  ros__parameters:
    local_costmap_topic: local_costmap/costmap_raw
    global_costmap_topic: global_costmap/costmap_raw
    local_footprint_topic: local_costmap/published_footprint
    global_footprint_topic: global_costmap/published_footprint
    cycle_frequency: 10.0
    behavior_plugins:
      # ["spin", "backup", "drive_on_heading", "assisted_teleop", "wait"]
      ["spin", "backup", "wait"]
    spin:
      plugin: "nav2_behaviors::Spin"
      max_rotational_vel: 1.2
      min_rotational_vel: 0.6
    backup:
      plugin: "nav2_behaviors::BackUp"
      acceleration_limit: 2.5
      deceleration_limit: -2.5
      minimum_speed: 0.10
    # drive_on_heading:
    #   plugin: "nav2_behaviors::DriveOnHeading"
    #   acceleration_limit: 2.5
    #   deceleration_limit: -2.5
    #   minimum_speed: 0.10
    wait:
      plugin: "nav2_behaviors::Wait"
    # assisted_teleop:
    #   plugin: "nav2_behaviors::AssistedTeleop"
    local_frame: odom
    global_frame: map
    # robot_base_frame: base_link
    robot_base_frame: base_footprint

    transform_tolerance: 1.0
    simulate_ahead_time: 2.0
    max_rotational_vel: 1.0
    min_rotational_vel: 0.4
    rotational_acc_lim: 3.2

#############################################################################################################################    
# The yaml_filename does not need to be specified since it going to be set by defaults in launch.
# If you'd rather set it in the yaml, remove the default "map" value in the launch file(s).
# file & provide full path to map below. If CLI map configuration or launch default is provided, that will be used.
# map_server 是一个只读的“电子地图分发员”。 它不具备建图能力，也不处理传感器数据。它唯一的任务就是把保存在硬盘里的图片变回 ROS 能够理解的坐标矩阵（栅格地图），
# 告诉导航系统：“世界原本长什么样”。
map_server:
  ros__parameters:
    # yaml_filename: ""
    introspection_mode: "disabled"

# Keepout & Speed Filter (禁区与限速滤镜):
# 核心功能：
# Keepout: 强制机器人避开特定区域（虚拟墙）。
# Speed: 强制机器人在特定区域（如人流密集区）降速。

# 总结：它是**“交通规则”**，通过图像遮罩（Mask）来定义机器人不能去或必须慢行的地方。
keepout_filter_mask_server:
  ros__parameters:
    topic_name: "keepout_filter_mask"
    # yaml_filename: ""

keepout_costmap_filter_info_server:
  ros__parameters:
    type: 0
    filter_info_topic: "keepout_costmap_filter_info"
    mask_topic: "keepout_filter_mask"
    base: 0.0
    multiplier: 1.0

speed_filter_mask_server:
  ros__parameters:
    topic_name: "speed_filter_mask"
    # yaml_filename: ""

speed_costmap_filter_info_server:
  ros__parameters:
    type: 1
    filter_info_topic: "speed_costmap_filter_info"
    mask_topic: "speed_filter_mask"
    base: 100.0
    multiplier: -1.0

map_saver:
  ros__parameters:
    save_map_timeout: 5.0
    free_thresh_default: 0.25
    occupied_thresh_default: 0.65
    map_subscribe_transient_local: true
    introspection_mode: "disabled"

# Smoother Server (路径平滑器):
# 核心功能：对规划器生成的折线路径进行平滑处理，使其更符合机器人的物理运动规律。
#总结：它是**“修路工”**，把生硬的折线弯道修圆，减少机器人转弯时的顿挫。
smoother_server:
  ros__parameters:
    smoother_plugins: ["simple_smoother", "route_smoother"]
    simple_smoother:
      plugin: "nav2_smoother::SimpleSmoother"
      tolerance: 1.0e-10
      max_its: 1000
      refinement_num: 2
      # true for Hybrid A* or State Lattice to not smooth over directional changes
      enforce_path_inversion: true
      do_refinement: true
    route_smoother:
      plugin: "nav2_smoother::SimpleSmoother"
      tolerance: 1.0e-10
      max_its: 1000
      refinement_num: 5
      # 法律色 for Route Server or others where smoothing out sharp corners is OK
      enforce_path_inversion: false
      do_refinement: true

# Waypoint Follower (航点跟随器):
# 核心功能：依次访问一系列点，并在点位执行任务（如停顿 200ms）。
# 总结：它是**“巡检调度”**。
waypoint_follower:
  ros__parameters:
    loop_rate: 20
    stop_on_failure: false
    introspection_mode: "disabled"
    waypoint_task_executor_plugin: "wait_at_waypoint"
    wait_at_waypoint:
      plugin: "nav2_waypoint_follower::WaitAtWaypoint"
      enabled: true
      waypoint_pause_duration: 200
# Route Server (路由服务器):
# 核心功能：基于图（Graph）进行导航。在像仓库这种有预设轨道或路径的网络中，它比全局规划器更有效。
route_server:
  ros__parameters:
    # The graph_filepath does not need to be specified since it going to be set by defaults in launch.
    # If you'd rather set it in the yaml, remove the default "graph" value in the launch file(s).
    # file & provide full path to map below. If graph config or launch default is provided, it is used
    # graph_filepath: $(find-pkg-share nav2_route)/graphs/aws_graph.geojson
    boundary_radius_to_achieve_node: 1.0
    radius_to_achieve_node: 2.0
    smooth_corners: true
    operations: ["AdjustSpeedLimit", "ReroutingService", "CollisionMonitor"]
    ReroutingService:
      plugin: "nav2_route::ReroutingService"
    AdjustSpeedLimit:
      plugin: "nav2_route::AdjustSpeedLimit"
    CollisionMonitor:
      plugin: "nav2_route::CollisionMonitor"
      max_collision_dist: 3.0
    edge_cost_functions: ["DistanceScorer", "CostmapScorer"]
    DistanceScorer:
      plugin: "nav2_route::DistanceScorer"
    CostmapScorer:
      plugin: "nav2_route::CostmapScorer"
# Velocity Smoother (速度平滑器):
# 核心功能：对最终下发的 cmd_vel 进行加速度和减速度平滑，防止点击抖动或机械损坏。
# 总结：它是**“油门/刹车缓冲器”**。
velocity_smoother:
  ros__parameters:
    smoothing_frequency: 20.0
    scale_velocities: false
    feedback: "OPEN_LOOP"
    max_velocity: [0.6, 0.0, 2.0]
    min_velocity: [-0.5, 0.0, -2.0]
    max_accel: [2.5, 0.0, 3.2]
    max_decel: [-2.5, 0.0, -3.2]
    odom_topic: "/ekf/odom"
    odom_duration: 0.1
    deadband_velocity: [0.0, 0.0, 0.0]
    velocity_timeout: 1.0

# Docking Server (自动对接):
# 核心功能：控制机器人精准地倒车或前进进入充电座（Dock）。
# 总结：它是**“自动泊车”**。
docking_server:
  ros__parameters:
    enabled: false,
    controller_frequency: 10.0
    initial_perception_timeout: 5.0
    wait_charge_timeout: 5.0
    dock_approach_timeout: 30.0
    undock_linear_tolerance: 0.05
    undock_angular_tolerance: 0.1
    max_retries: 3
    # base_frame: "base_link"
    robot_base_frame: base_footprint

    fixed_frame: "odom"
    dock_prestaging_tolerance: 0.5
    introspection_mode: "disabled"

    # Types of docks
    dock_plugins: ["simple_charging_dock"]
    simple_charging_dock:
      plugin: "opennav_docking::SimpleChargingDock"
      docking_threshold: 0.05
      staging_x_offset: -0.7
      use_external_detection_pose: true
      use_battery_status: false # true
      use_stall_detection: false # true
      dock_direction: "forward"

      external_detection_timeout: 1.0
      external_detection_translation_x: -0.18
      external_detection_translation_y: 0.0
      external_detection_rotation_roll: -1.57
      external_detection_rotation_pitch: -1.57
      external_detection_rotation_yaw: 0.0
      filter_coef: 0.1

    # Dock instances
    # The following example illustrates configuring dock instances.
    # docks: ['home_dock']  # Input your docks here
    # home_dock:
    #   type: 'simple_charging_dock'
    #   frame: map
    #   pose: [0.0, 0.0, 0.0]

    controller:
      k_phi: 3.0
      k_delta: 2.0
      v_linear_min: 0.15
      v_linear_max: 0.15
      use_collision_detection: true
      costmap_topic: "local_costmap/costmap_raw"
      footprint_topic: "local_costmap/published_footprint"
      transform_tolerance: 0.1
      projection_time: 5.0
      simulation_step: 0.1
      dock_collision_threshold: 0.3
# Loopback Simulator (回环仿真器):
# 核心功能：在没有真实机器人或物理引擎（如 Gazebo）时，模拟位姿和雷达数据。
# 总结：它是**“模拟环境”**。
loopback_simulator:
  ros__parameters:
    base_frame_id: "base_footprint"
    odom_frame_id: "odom"
    map_frame_id: "map"
    scan_frame_id: "base_scan" # tb4_loopback_simulator.launch.py remaps to 'rplidar_link'
    update_duration: 0.02
    scan_range_min: 0.05
    scan_range_max: 30.0
    scan_angle_min: -3.1415
    scan_angle_max: 3.1415
    scan_angle_increment: 0.02617
    scan_use_inf: true