map_server:
  ros__parameters:
    use_sim_time: false

bt_navigator:
  ros__parameters:
    use_sim_time: false
    global_frame: map
    robot_base_frame: base_link
    odom_topic: /ekf/odom

    default_nav_to_pose_bt_xml: "navigate_to_pose_w_replanning_and_recovery.xml"
    bt_loop_duration: 10
    default_server_timeout: 20

planner_server:
  ros__parameters:
    use_sim_time: false
    expected_planner_frequency: 5.0
    planner_plugins: ["GridBased"]

    GridBased:
      plugin: "nav2_navfn_planner::NavfnPlanner"
      use_astar: false
      tolerance: 0.5
      allow_unknown: true

controller_server:
  ros__parameters:
    use_sim_time: false
    controller_frequency: 20.0
    controller_plugins: ["FollowPath"]

    FollowPath:
      plugin: "nav2_mppi_controller::MPPIController"
      motion_model: "DiffDrive"

      time_steps: 40
      model_dt: 0.05
      batch_size: 1500

      vx_max: 0.5
      vx_min: 0.0
      wz_max: 1.8

      vx_std: 0.2
      wz_std: 0.4

      prune_distance: 1.5
      temperature: 0.3
      gamma: 0.015

      critics:
        [
          "CostCritic",
          "PathAlignCritic",
          "PathFollowCritic",
          "GoalCritic",
          "PreferForwardCritic"
        ]

      CostCritic:
        cost_weight: 3.5
        collision_cost: 1e6

      PreferForwardCritic:
        cost_weight: 5.0

local_costmap:
  local_costmap:
    ros__parameters:
      use_sim_time: false
      global_frame: odom
      robot_base_frame: base_link
      rolling_window: true

      width: 3.0
      height: 3.0
      resolution: 0.05
      robot_radius: 0.25

      update_frequency: 5.0
      publish_frequency: 5.0

      plugins: ["obstacle_layer", "inflation_layer"]

      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        observation_sources: scan slam_points rtabmap_obstacles
        enabled: true         # ← 显式开启
        scan:
          topic: /seg/scan   # ← YOLO-Seg 输出
          data_type: LaserScan
          marking: true
          clearing: true
          obstacle_max_range: 2.5
          raytrace_max_range: 3.0

        slam_points:
          topic: /slam3/map_points
          data_type: PointCloud2
          marking: true
          clearing: false     # ❗非常重要
          obstacle_range: 3.0
          raytrace_range: 0.0
          max_obstacle_height: 1.2
          min_obstacle_height: 0.05

        rtabmap_obstacles:
          topic: /cloud_obstacles
          data_type: PointCloud2
          marking: true
          clearing: false
          obstacle_range: 3.0
          max_obstacle_height: 1.2

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.6
        cost_scaling_factor: 3.0

global_costmap:
  global_costmap:
    ros__parameters:
      use_sim_time: false
      global_frame: map
      robot_base_frame: base_link
      resolution: 0.05
      robot_radius: 0.25

      update_frequency: 1.0
      publish_frequency: 1.0

      plugins: ["static_layer", "inflation_layer"]

      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        map_subscribe_transient_local: true  #定于rtabmap发布的map

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.7
        cost_scaling_factor: 3.0

behavior_server:
  ros__parameters:
    use_sim_time: false
    behavior_plugins: ["spin", "backup", "wait"]

    spin:
      plugin: "nav2_behaviors::Spin"
    backup:
      plugin: "nav2_behaviors::BackUp"
    wait:
      plugin: "nav2_behaviors::Wait"
